@page "/{ano:int?}/{mes:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Transações</h1>

@if (Model != null)
{
    <div>
        <NavLink href="@Model.NavMesAnterior" target="_self">anterior</NavLink>
        <span>Mês nº @Model.Mes</span>
        <NavLink href="@Model.NavMesSeguinte" target="_self">próximo</NavLink>
    </div>
}


@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{    
    <div style="display: block;">
 
        <div style="" >
            <div class="col-2" style="" >Contas</div>
            
            <ul style="float: left;" >
            @if (Model.Contas != null && Model.Contas.Any())
            {
                @foreach(var conta in Model.Contas)
                {
                    <li>
                        <input type="checkbox" checked="@conta.Ativo" name="@conta.Id"/>
                        @conta.Id - @conta.Nome
                    </li>
                }
            }
            else
            {
                <li>contas nulo ou vazio</li>
            }
            </ul>
        </div>
 
        <div class="col-6" style="float: left;">
            <table class="table transacoes">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descricao</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Conta</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="6" style="text-align: right;">Saldo no dia @Model.UltimoDiaMesAnterior: @Model.SaldoUltimoDiaMesAnterior</th>
                    </tr>
                    @if (Model.Dias != null && Model.Dias.Any())
                    {
                        @foreach (var dia in Model.Dias)
                        {
                            <tr>
                                <td colspan="6">@dia.Data.ToString("dd/MM/yyyy")</td>
                            </tr>
                            @foreach (var transacao in dia.Transacoes)
                            {
                                <tr style="background-color: #cccccc">
                                    <td>@transacao.Id</td>
                                    <td>@transacao.Descricao</td>
                                    <td>Lorem Ipsum</td>
                                    <td>@transacao.Valor</td>
                                    <td>@transacao.ContaId</td>
                                    <td><a href="/editar-transacao/@transacao.Id">Editar</a></td>
                                </tr>
                            }
                            <tr>
                                <td colspan="6" style="text-align: right;">Saldo do dia: @dia.ObterSaldoDoDia()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@functions{
    
}