@page "/"

@inject NavigationManager NavManager

@inject ITransacaoService _transacaoService
@inject IContaService _contaService
@inject ICategoriaService _categoriaService

<div id="tudo" style="height: 100vh;width:60%;">
    <div id="coluna" style="width: 190px;">
        <div id="contas" style="display: block;float: left;width: 210px;">
            <div>
                Contas
            </div>
            
            <ul style="float: left;" >            
                @foreach (var conta in _contas)
                {
                    <li style="font: normal 11px arial,tahoma,helvetica,sans-serif;">
                        @if (conta.Selecionada)
                        {
                            <input type="checkbox" checked name="@conta.Id" @onchange="@(() => { conta.SetarSelecionada(false);})"/>
                        }
                        else
                        {
                            <input type="checkbox" name="@conta.Id" @onchange="@(() => { conta.SetarSelecionada(true);})"/>
                        }
                        @conta.Nome 
                    </li>
                }
            </ul>
        </div>

        <div id="categorias" style="display: block;float: left;width: 210px;">
            <div>
                Categorias
            </div>
                    
            <ul style="float: left;" >
                @foreach(var nivel0 in _categorias.Nivel0)
                {
                    <li style="font: normal 11px arial,tahoma,helvetica,sans-serif;">
                    @if (nivel0.Selecionada)
                    {
                        <input type="checkbox" checked name="@nivel0.Id" @onchange="@(() => { nivel0.SetarSelecionada(false);})"/>
                    }
                    else
                    {
                        <input type="checkbox" name="@nivel0.Id" @onchange="@(() => { nivel0.SetarSelecionada(true);})"/>
                    }
                    @nivel0.Descricao
                    </li>

                    <ul style="float: left;" >
                    @foreach(var nivel1 in nivel0.Filhos)
                    {
                        <li style="font: normal 11px arial,tahoma,helvetica,sans-serif;">
                        @if (nivel1.Selecionada)
                        {
                            <input type="checkbox" checked name="@nivel1.Id" @onchange="@(() => { nivel1.SetarSelecionada(false);})"/>
                        }
                        else
                        {
                            <input type="checkbox" name="@nivel1.Id" @onchange="@(() => { nivel1.SetarSelecionada(true);})"/>
                        }
                        @nivel1.Descricao
                        </li>

                        <ul style="float: left;" >
                        @foreach(var nivel2 in nivel1.Filhos)
                        {
                            <li style="font: normal 11px arial,tahoma,helvetica,sans-serif;">
                            @if (nivel2.Selecionada)
                            {
                                <input type="checkbox" checked name="@nivel2.Id" @onchange="@(() => { nivel2.SetarSelecionada(false);})"/>
                            }
                            else
                            {
                                <input type="checkbox" name="@nivel2.Id" @onchange="@(() => { nivel2.SetarSelecionada(true);})"/>
                            }
                            @nivel2.Descricao
                            </li>

                            

                            <ul style="float: left;" >
                            @foreach(var nivel3 in nivel2.Filhos)
                            {
                                <li style="font: normal 11px arial,tahoma,helvetica,sans-serif;">
                                @if (nivel3.Selecionada)
                                {
                                    <input type="checkbox" checked name="@nivel3.Id" @onchange="@(() => { nivel3.SetarSelecionada(false);})"/>
                                }
                                else
                                {
                                    <input type="checkbox" name="@nivel3.Id" @onchange="@(() => { nivel3.SetarSelecionada(true);})"/>
                                }
                                @nivel3.Descricao
                                </li>
                            }
                            </ul>
                        }
                        </ul>
                    }
                    </ul>
                }
            </ul>
        </div>
    </div>

    <div id="navegacao-e-transacoes" style="margin:8px;display:grid;"  >
        <div id="navegacao">
            <button @onclick="IrParaMesAnterior">anterior</button>
            <span>Mês nº @_dataMes.Mes</span>
            <button @onclick="IrParaMesSeguinte">seguinte</button>
        </div>

        <div id="adicionar-transacao" style="margin: 8px;">
            <button @onclick="AdicionarTransacao">+ transacao</button>
        </div>
        <div id="mensagem">
            @mensagem 
        </div>
        
        @if (modoAdicionarTransacao)
        {
            <EditForm Model="_novaTransacao">
                <div id="nova-transacao" style="float:left;margin:8px;width:100%;">
                    <table class="table transacoes">
                        <tbody>
                            <tr style="background-color: #efefef">
                                <td><input type="date" id="meeting-time" name="meeting-time" @bind-value="_novaTransacao.Data" min="2015-01-01" max="2050-01-01"></td>
                                <td><input type="text" id="nova-transacao-descricao" @bind-value="_novaTransacao.Descricao" /></td>
                                <td>
                                    <select @bind="_novaTransacao.Categoria.Id">
                                        <option selected value="0">Selecione</option>
                                        @foreach(var c0 in _categorias.Nivel0)
                                        {
                                            <option value="@c0.Id">@c0.Descricao</option>
                                            @foreach(var c1 in c0.Filhos)
                                            {
                                                <option value="@c1.Id">&nbsp;&nbsp;&nbsp;&nbsp;@c1.Descricao</option>
                                                @foreach(var c2 in c1.Filhos)
                                                {
                                                    <option value="@c2.Id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@c2.Descricao</option>
                                                }
                                            }
                                        }
                                    </select>                                    
                                </td>
                                <td>
                                    <select @bind="_novaTransacao.Conta.Id">
                                        <option selected value="0">Selecione</option>
                                        @foreach(var c in _contas)
                                        {
                                            <option value="@c.Id">@c.Nome</option>
                                        }
                                    </select>                                    
                                </td>
                                <td>R$ 
                                    <input type="text" id="meu-campo-valor" value="0,00" onkeyup="chamaDotNet()" 
                                                                                         onkeydown="if ([48,49,50,51,52,53,54,55,56,57,96,97,98,99,100,101,102,103,104,105].includes(event.which)) { 
                                                                                                        let valor = this.value; 
                                                                                                        let valorFloat = parseFloat(valor.replace(',', '.'));      
                                                                                                        let valorFloatM10 = valorFloat * 10; 
                                                                                                        let valorFloatD10Round2 = (Math.round(valorFloatM10 * 100) / 100).toFixed(2); 
                                                                                                        let input = event.key;                                                          
                                                                                                        let inputInt = parseInt(event.key);                                             
                                                                                                        let inputIntDiv100 = parseInt(event.key) / 100;                                 
                                                                                                        let inputIntDiv100Round2 = (Math.round(inputIntDiv100 * 100) / 100).toFixed(2); 
                                                                                                        let ehNegativo = valorFloatD10Round2 < 0;
                                                                                                        let soma = parseFloat(Math.abs(valorFloatD10Round2)) + parseFloat(inputIntDiv100Round2); 
                                                                                                        let somaRound2 = (Math.round(soma * 100) / 100).toFixed(2);
                                                                                                        let sinal = ehNegativo ? '-' : '';
                                                                                                        this.value = sinal + somaRound2.toString().replace('.', ',')
                                                                                                        return false;
                                                                                                    }
                                                                                                    else if (event.which == 8) { // backspace
                                                                                                        let valorReplaceVirgulaPorPonto = this.value.replace(',','.');
                                                                                                        let valorReplaceVirgulaPorPontoFloat = parseFloat(valorReplaceVirgulaPorPonto);
                                                                                                        let valorReplaceVirgulaPorPontoFloatD10 = valorReplaceVirgulaPorPontoFloat / 10;
                                                                                                        let valorReplaceVirgulaPorPontoFloatD10R2 = 0;
                                                                                                        let ehNegativo = valorReplaceVirgulaPorPontoFloatD10 < 0;
                                                                                                        if (ehNegativo){
                                                                                                            valorReplaceVirgulaPorPontoFloatD10R2 = (Math.ceil(valorReplaceVirgulaPorPontoFloatD10 * 100) / 100).toFixed(2);
                                                                                                        } else {
                                                                                                            valorReplaceVirgulaPorPontoFloatD10R2 = (Math.floor(valorReplaceVirgulaPorPontoFloatD10 * 100) / 100).toFixed(2);
                                                                                                        }
                                                                                                        this.value = valorReplaceVirgulaPorPontoFloatD10R2.toString().replace('.', ',');
                                                                                                        return false;
                                                                                                    }
                                                                                                    else if (event.which == 109 || event.which == 189) { //minus
                                                                                                        let valor = this.value;
                                                                                                        let ehNegativo = this.value[0] == '-';
                                                                                                        if (!ehNegativo) {
                                                                                                            this.value = ((Math.floor((parseFloat(this.value.replace(',','.')) * -1) * 100) / 100).toFixed(2)).toString().replace('.', ',');;
                                                                                                        }
                                                                                                        return false;
                                                                                                    }
                                                                                                    else if (event.which == 107 || event.which == 187) { // plus
                                                                                                        let ehNegativo = this.value[0] == '-';
                                                                                                        if (ehNegativo) {
                                                                                                            this.value = ((Math.floor((parseFloat(this.value.replace(',','.')) * -1) * 100) / 100).toFixed(2)).toString().replace('.', ',');;
                                                                                                        }
                                                                                                        return false;
                                                                                                    }
                                                                                                    else {
                                                                                                        return false;
                                                                                                    }" 
                                                                                                    />
                                </td>
                                <td>
                                    <button @onclick="SalvarTransacao">Salvar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </EditForm>
        }

        <div id="transacoes" style="float: left;margin: 8px;width: 100%;">
            <table class="table transacoes">
                <thead>
                    <tr>
                        <th>Descricao</th>
                        <th>Categoria</th>
                        <th>Conta</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var transacoesMesAtualFilter = _transacoes?.Where(t => t.Data.Year == _dataMes.Ano &&
                                                             t.Data.Month == _dataMes.Mes &&
                                                             t.Conta.Selecionada &&
                                                             t.Categoria.Selecionada).ToList();
                        var transacoesMesAtual = transacoesMesAtualFilter.GroupBy(x => new { x.Data.Year, x.Data.Month, x.Data.Day });

                        var somaTransacoesAnteriores = _transacoes?.Where(x => x.Data.EhAntes(_dataMes) &&
                                                                               x.Conta.Selecionada && 
                                                                               x.Categoria.Selecionada)
                                                                   .Sum(x => x.Valor);
                        var saldoInicialContas = _contas.Where(x => x.Selecionada).Sum(x => x.SaldoInicial);
                        var saldoFinalUltimoDiaMesAnterior = saldoInicialContas + somaTransacoesAnteriores.Value;

                        <tr>
                            <th colspan="6" style="text-align: right;">
                                Saldo no dia @_dataMes.UltimoDiaDoMesAnteriorFormat&nbsp;&nbsp;&nbsp; R$ @FormatarMoeda(saldoFinalUltimoDiaMesAnterior)
                            </th>
                        </tr>

                        var saldoTemp = saldoFinalUltimoDiaMesAnterior;
                        var dia = 0;

                        @foreach (var diaTransacoes in transacoesMesAtual)
                        {
                            var diaDiferente = dia != diaTransacoes.Key.Day;
                            if (diaDiferente)
                            {
                                <tr>
                                    <td colspan="4">@diaTransacoes.Key.Day/@diaTransacoes.Key.Month.ToString().PadLeft(2, '0')/@diaTransacoes.Key.Year</td>
                                </tr>

                                dia = diaTransacoes.Key.Day;
                            }

                            decimal somaTransacoesDia = diaTransacoes.Sum(x => x.Valor);
                            saldoTemp += somaTransacoesDia;

                            var count = 0;
                            @foreach (Transacao t in diaTransacoes)
                            {
                                <tr style="background-color: #cccccc">
                                    <td>@t.Descricao</td>
                                    <td>@t.Categoria.Descricao</td>
                                    <td>
                                        <select style="background: #cccccc;color: #000;border: 2px solid #cccccc;-webkit-appearance: none;" disabled="disabled">
                                            @foreach (var c in _contas)
                                            {
                                                if (c.Id == t.Conta.Id)
                                                {
                                                    <option selected>@c.Nome</option>
                                                }
                                                else
                                                {
                                                    <option>@c.Nome</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>R$ @FormatarMoeda(t.Valor)</td>
                                </tr>

                                count = count + 1;
                            }

                            if (count == diaTransacoes.Count())
                            {
                                <tr>
                                    <td colspan="4" style="text-align: right;">Saldo do dia: R$ @FormatarMoeda(saldoTemp)</td>
                                </tr>
                            }
                        }
                }
                </tbody>
            </table>
        </div>
    </div>

</div>

@code {
    private List<Transacao>? _transacoes;
    private Categorias? _categorias;
    private List<Conta>? _contas;
    private DataMes _dataMes;

    private bool mouseOverNovaTransacao;
    private bool modoAdicionarTransacao = false;

    private string mensagem;

    private static decimal novaTransacaoValor;

    private List<string> digitosValor = new List<string>();
    private string valorrr = "0,00";

    private Transacao? _novaTransacao = new Transacao().ObterNovaTransacao();

    protected override async Task OnInitializedAsync()
    {
        _dataMes = new DataMes(DateTime.Now.Year, DateTime.Now.Month);

        _contas = await _contaService.ObterTodas();
        _transacoes = await _transacaoService.ObterTodas();
        _categorias = await _categoriaService.ObterTodasComFilhos();
    }

    void IrParaMesAnterior()
    {
        var numMesAnterior = _dataMes.NumMesAnterior;
        var numAnoMesAnteior = _dataMes.NumAnoDoMesAnterior;
        _dataMes = new DataMes(numAnoMesAnteior, numMesAnterior);
    }

    void IrParaMesSeguinte()
    {
        var numMesSeguinte = _dataMes.NumMesSeguinte;
        var numAnoMesSeguinte = _dataMes.NumAnoDoMesSeguinte;
        _dataMes = new DataMes(numAnoMesSeguinte, numMesSeguinte);
    }

    void AdicionarTransacao()
    {
        modoAdicionarTransacao = true;
    }

    private decimal ObterSaldoFinalDoDia(object x)
    {
        return 0.2M;
    }

    [JSInvokable]
    public static void ChamaDotNet(JsonElement valor)
    {
        string valorAdjust = valor.GetRawText().Replace("\"", "");
        novaTransacaoValor = Convert.ToDecimal(valorAdjust, new CultureInfo("pt-BR"));
    }

    public string FormatarMoeda(decimal valor)
    {
        return (valor.ToString().Contains(".") || valor.ToString().Contains(",")) ? valor.ToString() : valor + ",00";
    }

    void SalvarTransacao()
    {
        if (modoAdicionarTransacao)
        {
            if (_novaTransacao != null && _novaTransacao.NovaTransacaoEhValida())
            {
                _novaTransacao.Conta = _contas.First(x => x.Id == _novaTransacao.Conta.Id);
                _novaTransacao.Categoria = _categorias.ObterCategoria(_novaTransacao.Categoria.Id);
                _novaTransacao.Valor = novaTransacaoValor;
                var resultadoMensagem = _transacaoService.AdicionarTransacao(_novaTransacao).Result;

                if (resultadoMensagem == null)
                {
                    mensagem = $"Ocorreu um erro ao adicionar a transacao {resultadoMensagem}";
                    Console.WriteLine(mensagem);
                    Debug.WriteLine(mensagem);
                }
                else
                {
                    Console.WriteLine("TRANSACAO ADICIONADA Id: " + resultadoMensagem.Id);
                    Debug.WriteLine("TRANSACAO ADICIONADA Id: " + resultadoMensagem.Id);
                    _novaTransacao = new Transacao().ObterNovaTransacao();
                }
            }

            modoAdicionarTransacao = false;
        }
    } 
}
