@page "/bkp"

@inject NavigationManager NavManager
@inject PagesService _pagesService

<div>
    <a href="@navMesAnterior" target="_top">anterior</a>
    <span>Mês nº @mesModel.NumMes</span>
    <a href="@navMesSeguinte" target="_top">próximo</a>
</div>

<div style="display: block;">
    <div>
        <div class="col-2" style="">
            Contas
        </div>
            
        
        <ul style="float: left;" >            
            @foreach (var contaModel in contasModel)
            {
                <EditForm Model="contaModel">
                    <li>
                        @if (contaModel.Ativo)
                        {
                            <input 
                            type="checkbox" 
                            checked
                            name="@contaModel.Id" 
                            @onchange="@(() => ContaClick(contaModel.Id, false))" />
                        }
                        else
                        {
                            <input 
                            type="checkbox" 
                            name="@contaModel.Id" 
                            @onchange="@(() => ContaClick(contaModel.Id, true))" />
                        }

                        @contaModel.Id - @contaModel.Nome
                    </li>
                </EditForm>
            }
        </ul>

    </div>

    <div class="col-6" style="float: left;">
        <table class="table transacoes">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descricao</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Conta</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="6" style="text-align: right;">
                        Saldo no dia @mesModel.UltimoDiaMesAnterior: @mesModel.SaldoUltimoDiaMesAnterior2
                    </th>
                </tr>
                @if (mesModel.Dias != null && mesModel.Dias != null && mesModel.Dias.Any())
                {
                    @foreach (var dia in mesModel.Dias)
                    {
                        <tr>
                            <td colspan="6">@dia.Data.ToString("dd/MM/yyyy")</td>
                        </tr>
                        @foreach (var transacao in dia.Transacoes)
                        {
                            <tr style="background-color: #cccccc">
                                <td>@transacao.Id</td>
                                <td>@transacao.Descricao</td>
                                <td>@transacao.Categoria</td>
                                <td>@transacao.Valor</td>
                                <td>@transacao.ContaId</td>
                                <td><a href="/editar-transacao/@transacao.Id">Editar</a></td>
                            </tr>
                        }
                        <tr>
                            <td colspan="6" style="text-align: right;">Saldo do dia: @dia.SaldoDoDia</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private MesModel mesModel;
    private List<ContaModel> contasModel;

    private int ano;
    private int mes;

    private string navMesAnterior => (NavManager.BaseUri + mesModel.NavMesAnterior);
    private string navMesSeguinte => (NavManager.BaseUri + mesModel.NavMesSeguinte);

    protected override async Task OnInitializedAsync()
    {
        NavManager.TryGetQueryString<int>("ano", out ano);
        NavManager.TryGetQueryString<int>("mes", out mes);
        if (ano == 0 || mes == 0)
        {
            ano = DateTime.Now.Year;
            mes = DateTime.Now.Month;
        }

        contasModel = await _pagesService.ObterContas();
        mesModel = await _pagesService.ObterMes(ano, mes, contasModel.Where(x => x.Ativo).ToList());
    }

    protected override async Task OnParametersSetAsync()
    {
        await OnInitializedAsync();
    }

    async void ContaClick(int id, bool ativo)
    {
        var contaModel = contasModel.First(x => x.Id == id);
        contaModel.Ativo = ativo;

        mesModel = await _pagesService.ObterMes(ano, mes, contasModel.Where(x => x.Ativo).ToList());
    }
}
